/* 
   Event Registration Form Styles 
   Styles for layout, form elements, and success message
*/

body{
    background: linear-gradient(135deg, rgb(74, 74, 253) 0%, rgb(255, 59, 255) 100%);
    min-height: 100vh;
    padding: 30px;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0px 10px black;
}

.form-group{
    margin-bottom: 20px;
    max-width: 100vh;
    
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

button{
    background: linear-gradient(135deg, rgb(74, 74, 253) 0%, rgb(255, 59, 255) 100%);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.success-message {
    text-align: center;
    color: #28a745;
    background: #d4edda;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
}

